@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Crimson+Pro:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 9, 10, 11;
  --background-start-rgb: 250, 250, 250;
  --background-end-rgb: 250, 250, 250;
}

.dark {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 24, 24, 27;
  --background-end-rgb: 24, 24, 27;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Crimson Pro', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

.dark {
  color-scheme: dark;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}